.advert{
    padding: 20px 0;
    // height: 50%;
}
.advert__main{
    justify-content: center;
    max-width: 100%;
    position: relative;
    padding-bottom: 100px 0;
}
.advert__device{
    max-width: 100vw;
    margin: 0 auto ;
    gap: 20px;
}
.advert__one{
    background-image: url('../../images/rasm1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    // object-fit: fill;
    width: 25vw;
    height: 55vh;
    position: relative;
    overflow: hidden;
}
.advert__one::before{
    content: '';
    position: absolute; 
    left: -200px;
    width: 50px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.555);
    transform: skewX(-30deg);
    transition: 0.7s;
    opacity: 0.3;
}
.advert__two{
    background-image: url('../../images/rasm2\'.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    width: 50vw;
    position: relative;
    overflow: hidden;
}
.advert__one:hover::before{
    left: 1100px;
    right: -100px;
    opacity: 1;
}
.advert__two::before{
    content: '';
    position: absolute; 
    left: -200px;
    width: 50px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.555);
    transform: skewX(-30deg);
    transition: 0.7s;
    opacity: 0.3;
}
.advert__two:hover::before{
    left: 1100px;
    right: -100px;
    opacity: 1;
}
.advert__three{
    background-image: url('../../images/rasm3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 55vh;
    width: 24vw;
    position: relative;
    overflow: hidden;
}
.advert__three::before{
    content: '';
    position: absolute; 
    left: -200px;
    width: 50px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.555);
    transform: skewX(-30deg);
    transition: 0.7s;
    opacity: 0.3;
}
.advert__three:hover::before{
    left: 1100px;
    right: -100px;
    opacity: 1;   
}

.desc___advert{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 50px 50px;
    justify-content: space-around;
}
.desc__list{
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px 0;
    width: 32%;
    h4{
        font-size: 0.8rem;
        font-weight: 700;
    }
    p{
        font-size: 11px;
        font-weight: 400;
        color: #666;
        padding: 0 50px;
    }
    
}
.advert__cosection{
    width: 100vw;
    margin: 0 auto;
    align-items: center;
}
.advert__phones{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.advert__phones::before{
    content: '';
    position: absolute; 
    left: -200px;
    width: 50px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.555);
    transform: skewX(-30deg);
    transition: 0.3s;
    opacity: 0.3;
}
.advert__phones:hover::before{
    left: 1500px;
    right: -100px;
    opacity: 1;
}


@media screen and (max-width: 576px){
    .advert__device{
        justify-content: center;
        flex-direction: column;
    }
    .advert__one, .advert__three{
        width: 100%;
        height: 90vh;
    }
    .advert__two{
        width: 100%;
        height: 45vh;
    }
    .desc___advert{
        padding: 0 20px;
        .container{
            flex-direction: column;
            .desc__list{
               width: 100%;
               margin-bottom: 50px; 
            }
        }
    }
    .advert__phones{
        height: 25vh;
    }
}